{% include header.html %}
<style>
	#link-container
	{
		font-size:25px;
		margin-top:30px;
	}
</style>
<div id = "link-container">
	
</div>
<script>
	titles = ["Java to Objective-C Cheat Sheet", "JavaScript Guide"]
	urls = ["/files/objectiveccheatsheet.pdf", "/files/JavaScript Guide.pdf"]
	for (i = 0; i < titles.length;i ++){
		link = urls[i];
		result = '<div class = "codepost" onclick="location.href= \'' + link + '\';"><div class = "link">' + titles[i] + '</div></div>'
		$("#link-container").append(result);
	}
</script>
{% include footer.html %}